{% extends "base.html" %}
{% load static %}
{% block title %}Modificar reservación{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <main id="main">

        <!-- ======= Breadcrumbs Section ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>Reservación</h2>
                    <ol>
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'reservaciones:reservaciones' %}">Reservaciones</a></li>
                        <li>Reservar</li>
                    </ol>
                </div>

            </div>
        </section><!-- End Breadcrumbs Section -->


        <!-- ======= Why Us Section ======= -->
        <section id="services">
            <div class="container" data-aos="fade-up">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title ">Modificar reservación</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive form php-email-form">
                                    <form method="POST" action="" class="mt-2 " autocomplete="off">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            {{ field.errors }}
                                            {{ field.help_text }}
                                            <div>
                                                {{ form | crispy }}
                                            </div>
                                        </div>


                                        <div class=" form-group text-right">

                                            <input type="submit" class="btn btn-success" value="Guardar">
                                            <a href="{% url 'reservaciones:reservaciones' %}">
                                                <input type="button" class="btn btn-danger"
                                                       value="Cancelar">
                                            </a>
                                        </div>


                                        <div class="clearfix"></div>
                                    </form>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Why Us Section -->


    </main><!-- End #main -->

{% endblock %}