{% extends "base.html" %}
{% load static %}

{% block content %}

    <main id="main">
        <!-- ======= Breadcrumbs Section ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>Reservaciones</h2>
                    <ol>
                        <li><a href="{% url 'home' %}">Inicio</a></li>
                        <li>Reservaciones</li>
                    </ol>
                </div>

            </div>
        </section><!-- End Breadcrumbs Section -->

        <!-- ======= Why Us Section ======= -->
        <section id="services">
            <div class="container" data-aos="fade-up">

                {% if messages %}
                    <ul class="messages list-group mb-3">
                        {% for message in messages %}
                            <li{% if message.tags %}
                                class="{{ message.tags }} list-group-item list-group-item-primary"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if reservaciones_list %}
                    <div class="row">
                        <!-- =======  Columna de la tabla de reservaciones ======= -->
                        <div class="col-md-9">
                            <div class="card">
                                <div class="card-header card-header-primary">
                                    <h4 class="card-title ">Reservaciones</h4>
                                    <p class="card-category"> Listado de reservaciones. </p>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <div class="text-right">
                                            <a class="btn btn-primary" href="{% url 'reservaciones:reservar' %}">
                                                Reservar

                                            </a>

                                            {#                                        <button class="btn btn-primary"><a#}
                                            {#                                                onclick="return abrir_modal('{% url "reservaciones:reservar" %}')"#}
                                            {#                                                role="button">Reservar </a>#}
                                            {#                                        </button>#}
                                        </div>
                                        <table id="tablereservacions" class="table  table-hover">
                                            <thead class=" text-primary">
                                            <th>
                                                ID
                                            </th>
                                            <th>
                                                Fecha
                                            </th>
                                            <th>
                                                Hora
                                            </th>
                                            <th>
                                                Laboratorio
                                            </th>
                                            <th>
                                                Maquina
                                            </th>
                                            <th class="text-right">
                                                Acciones
                                            </th>

                                            </thead>
                                            <tbody>
                                            {% for reservacion in reservaciones_list %}

                                                <tr>

                                                    <td>{{ reservacion }}
                                                        {{ reservacion.id }}
                                                    </td>
                                                    <td class="text-primary">
                                                        <a href="{{ reservacion.id }}">
                                                            {{ reservacion.fecha }}
                                                        </a>
                                                    </td>

                                                    <td>
                                                        {{ reservacion.hora }}
                                                    </td>
                                                    <td>
                                                        {{ reservacion.laboratorio }}
                                                    </td>
                                                    <td>
                                                        {{ reservacion.maquina }}
                                                    </td>
                                                    <td class=" td-actions text-right">
                                                        <a href="{{ reservacion.id }}/edit">
                                                            <button type="button" rel="tooltip"
                                                                    title="Editar reservacion"
                                                                    class="btn  btn-link btn-lg">
                                                                <i class="ion ion-edit"></i>
                                                            </button>
                                                        </a>
                                                        <a href="{{ reservacion.id }}/delete">
                                                            <button id="btnPromt" type="button" rel="tooltip"
                                                                    title="Eliminar"
                                                                    class="btn text-danger btn-lg">
                                                                <i class="ion ion-trash-a "></i>
                                                            </button>
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End  Columna de la tabla de reservaciones -->
                        <!-- =======  Columna del filtro ======= -->
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-header card-header-primary">
                                    <h4 class="card-title ">Filtro</h4>
                                </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label class="text-primary"> Por local </label>
                                        <div>
                                            <select class="select form-control" aria-label="Default select example"
                                                    onchange="javascript:window.location = this.options[this.selectedIndex].value;">

                                                <option selected="" value="?">Todo</option>

                                                <option value="?tipo__exact=mp3">Audio</option>

                                                <option value="?tipo__exact=doc">Documento</option>

                                                <option value="?tipo__exact=img">Imagenes</option>

                                                <option value="?tipo__exact=mov">Video</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="text-primary"> Por fecha </label>
                                        <div>
                                            <select class="select form-control"
                                                    onchange="javascript:window.location = this.options[this.selectedIndex].value;">

                                                <option selected="" value="?">Todo</option>

                                                <option value="?tipo__exact=mp3">Audio</option>

                                                <option value="?tipo__exact=doc">Documento</option>

                                                <option value="?tipo__exact=img">Imagenes</option>

                                                <option value="?tipo__exact=mov">Video</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End  Columna del filtro -->
                    </div>

                {% else %}
                    <div class="col-md-6 col-lg-12" data-aos="zoom-in" data-aos-delay="200">
                        <header class="section-header">
                            <div class="box">
                                <h3> Lo sentimos 😢</h3>
                                <p>Usted no ha reservado aún, haga su priemra reservación en

                                    <a href="{% url 'reservaciones:reservar' %}" class="text-primary">Reservar</a>

                            </div>
                        </header>
                    </div>
                {% endif %}
            </div>
        </section><!-- End Why Us Section -->


    </main><!-- End #main -->

    <div id="popup" class="modal fade" role="dialog"></div>

{% endblock %}


{% block js %}

    <script type="text/javascript">
$(document).ready(function() {

    $("#create-book").modalForm({
        formURL: "{% url 'reservar' %}"
    });

});




    </script>

    <script>
        $(document).ready(function () {
            $('#tablereservacions').DataTable({
                dom: 'Blfrtip',
                buttons: [{
                    //Botón para Excel
                    extend: 'excel',
                    footer: true,
                    title: 'Listado de reservaciones',
                    filename: 'Listado_de_reservaciones',
                    //Aquí es donde generas el botón personalizado
                    text: '<button class="btn btn-success">Excel <i class="far fa-file-excel-o"></i></button>'
                },
                    //Botón para PDF
                    {
                        extend: 'pdf',
                        footer: true,
                        title: 'Listado de reservaciones',
                        filename: 'Listado de reservaciones',
                        text: '<button class="btn btn-danger">PDF<i class="material-icons">picture_as_pdf</i> <i class="far fa-file-pdf "></i></button>'
                    }
                ],
                {#buttons: [#}
                {#    'csv', 'excel', 'pdf', 'print'#}
                {#],#}
                scrollY: "600px",
                scrollX: false,
                scrollCollapse: true,
                responsive: true,
                "aLengthMenu": [[5, 10, 25, 50, 100, -1], [5, 10, 25, 50, 100, "Todos"]],
                "iDisplayLength": 5,
                "language": espanol,
                "autoWidth": true,
                columnDefs: [
                    {"width": "50px", "targets": 0},
                    {"width": "100px", "targets": 1},
                    {"width": "250px", "targets": 2},
                    {"width": "100px", "targets": 3},
                    {"width": "100px", "targets": 4},
                    {"width": "100px", "targets": 5},
                ],

            })
            ;
        });
        let espanol = {
            "sProcessing": "Procesando...",
            "sLengthMenu": "Mostrar _MENU_ registros",
            "sZeroRecords": "No se encontraron resultados",
            "sEmptyTable": "Ningún dato disponible en esta tabla",
            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix": "",
            "sSearch": "Buscar:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst": "Primero",
                "sLast": "Último",
                "sNext": "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            },
            "buttons": {
                "copy": "Copiar",
                "colvis": "Visibilidad"
            }
        };



    </script>

{% endblock js %}
