.blur {
    /*background-color: linear-gradient(red, yellow);*/
    /*background-color: radial-gradient(96% 96% at 70.4% 31.2%, #3244E8 0%, rgba(0, 2, 16, 0) 100%), #030092;*/
    backdrop-filter: blur(20px); /*color: #73ff7c;*/
    border-radius: 20px;
}


.burbuja {
    /* Bubble */
    border-radius: 50%;
    position: absolute;
    width: 105px;
    height: 105px;
    top: 150%;
    left: 10.85%;
    /*left: calc(50% - 105px / 2 + 42px);*/
    /*top: calc(50% - 105px / 2 - 205.5px);*/
    background: radial-gradient(96% 96% at 70.4% 31.2%, #fff 0%, rgba(0, 2, 16, 0) 100%), #8c5cf8;
    box-shadow: 0px 4px 80px #2300F8, inset 0px 2px 10px rgba(255, 255, 255, 0.58), inset 10px 16px 20px rgba(130, 5, 255, 0.95);
}

.Bubble {
    /* Bubble */
    border-radius: 50%;
    position: absolute;
    top: 150%;
    left: 80%;
    right: 34.18%;
    width: 205px;
    height: 205px;
    /*/ / left: calc(20 % - 100 px / 2 + 41 px);*/
    /*/ / top: calc(100 % - 105 px / 2 - 205.5 px);*/
    /*/ / bottom: 33.93 %;*/
    background: radial-gradient(96% 96% at 70.4% 31.2%, #3244E8 0%, rgba(0, 2, 16, 0) 100%), #030092;
    box-shadow: 0px 0px 20px rgb(140, 92, 248), 60px 120px 80px rgba(5, 0, 255, 0.56), 0px 4px 80px rgb(47, 219, 255), inset 0px 2px 10px rgb(255, 255, 255), inset 10px 20px 100px #FF0000;
}
.circulo1 {
    /* Bubble */
    border-radius: 50%;
    position: absolute;
    top: 300%;
    left: 45%;
    right: 34.18%;
    width: 705px;
    height: 705px;
    /*/ / left: calc(20 % - 100 px / 2 + 41 px);*/
    /*/ / top: calc(100 % - 105 px / 2 - 205.5 px);*/
    /*/ / bottom: 33.93 %;*/
    background: radial-gradient(96% 96% at 70.4% 31.2%, #ffffff 0%, rgb(255, 255, 255) 100%), #ffffff;
    box-shadow: 0px 0px 20px rgb(140, 92, 248), inset 10px 20px 100px #945eff;
}

.rec {
    /* Rectangle 1304 */
    position: absolute;
    width: 116px;
    height: 53px;
    left: 648px;
    top: 244px;
    background: rgba(246, 246, 248, 0.4);
    backdrop-filter: blur(12px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 16px;
}

.button-shadow{
        background: radial-gradient(96% 96% at 70.4% 31.2%, #ffffff 0%, rgb(255, 255, 255) 100%), #ffffff;
        box-shadow: 0px 0px 20px rgb(140, 92, 248), inset 10px 20px 100px #945eff;
}






