{% load static %}
<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

        <div class="logo float-left">
            <!-- Uncomment below if you prefer to use an text logo -->
            <!-- <h1><a href="index.html">NewBiz</a></h1> -->
            <a href="#intro"><img src="{% static 'assets/img/logo.png' %}" alt="" class="img-fluid"></a>
        </div>

        <nav class="main-nav float-right d-none d-lg-block">
            <ul>
                <li class="active"><a href="{% url 'home' %}">Home</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="{% url "convocatorias:convocatoria_index" %}">Convocatorias</a></li>
                <li><a href="{% url "materiales" %}">Materiales</a></li>

                <li class="drop-down"><a href="{% url "reservaciones:reservaciones" %}">Reservaciones</a>
                    <ul>
                        <li><a href="{% url "reservaciones:reservar" %}">Reservar</a></li>
                        <li><a href="{% url "convocatorias:inscripciones_index" %}">Inscripciones</a></li>
                    </ul>
                </li>

                <li>
                    {% if user.is_authenticated %}
                        <div class="drop-down">
                            <a href="/" type="button" class=" active"><b>{{ user.username.capitalize }}</b></a>
                            <ul>
                                {% if user.is_superuser %}
                                    <li><a class="icon" href="/admin"> <i class="ion-android-settings"></i> Administrar
                                        sitio</a></li>
                                {% endif %}
                                <li><a class="icon" href="/"> <i class="ion-android-person"></i> Perfil</a></li>
                                <li>
                                    <a href="{% url 'logout' %}?next={{ request.path | urlencode }}"
                                       class="icon">
                                        <i class="ion ion-android-exit"></i>
                                        Salir
                                    </a>
                                </li>
                            </ul>
                        </div>
                    {% else %}
                        <li class="text-center">

                            <a href="{% url 'login' %}?next={{ request.path | urlencode }}" class="icon ">
                                <i class="ion ion-android-person"></i>
                                Iniciar
                                Sesión
                            </a>


                        </li>
                    {% endif %}
                </li>
            </ul>
        </nav><!-- .main-nav -->


    </div>
</header><!-- #header -->